functions-framework
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
pandas
numpy
openpyxl
pyarrow
python-dotenv
fastapi
uvicorn
langgraph
langchain
langchain-core
langchain-google-vertexai
google-cloud-aiplatform
pydantic
networkx
scikit-learn
google-cloud-bigquery
google-genai