fastapi==0.116.1
uvicorn==0.35.0

python-dotenv==1.1.1
pydantic==2.11.7

pandas==2.3.1
numpy==2.3.2
openpyxl==3.1.5
pyarrow==19.0.1
networkx==3.5
scikit-learn==1.7.1

langgraph==0.6.6
langchain==0.3.27
langchain-core==0.3.74
langchain-google-vertexai==2.0.28

google-genai
google-cloud-aiplatform
google-cloud-storage==2.19.0
google-cloud-bigquery==3.36.0
google-cloud-bigquery-storage==2.33.1

functions-framework==3.9.2

matplotlib==3.10.5
reportlab==4.4.3
Pillow==11.3.0
db-dtypes==1.4.3